*{
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: 'seravek-web', sans-serif;
}

  /* font-family: 'joanna-sans-nova', sans-serif; */
  /* font-family: 'cronos-pro-display', sans-serif; */
  /* font-weight: 200; */

  /* font-family: "gill-sans-nova", sans-serif; */

